@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
    font-family: 'Noto Sans TC' !important;
    font-weight: 300 !important;
    padding: 0;
    margin: 0;
}

main {
    padding-top: 30px;
    padding-bottom: 60px;
    box-sizing: border-box;
}

.navbar {
    height: 60px;
    background: #3b5998;
    box-sizing: border-box;
    line-height: 60px;
}

.navbar-title {
    color: white;
    margin: 0;
    font-size: 22px !important;
    font-family: 'Noto Sans TC' !important;
    line-height: 60px !important;
}

.text-center {
    text-align: center;
}

.fieldlist {
    margin: 0 0 3px;
    padding: 0;
}

.fieldlist li {
    list-style: none;
    padding-bottom: 10px;
}

.fieldlist li > * {
    width: 100%;
}

table .k-button {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%) !important;
}

/* append own style */
#insertWindowBtn {
    text-align: center;
    white-space: nowrap;
    padding: 1em;
    cursor: pointer;
    margin-bottom: 5vh;
}